@model IEnumerable<WebApplication4.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
}
<div style="display: flex; justify-content: center; align-items: center; gap: 30px; margin-top: 50px;">

    <div style="background-color: #f4f7fa; border-radius: 10px; padding: 20px; width: 200px; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease, box-shadow 0.3s ease;">
        <h3 style="font-size: 18px; color: #333; margin-bottom: 10px;">Total Gear Requested</h3>
        <p style="font-size: 24px; font-weight: bold; color: #2b7a78; margin-top: 10px;">@ViewBag.GearRequestedNumber</p>
    </div>

    <div style="background-color: #f4f7fa; border-radius: 10px; padding: 20px; width: 200px; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease, box-shadow 0.3s ease;">
        <h3 style="font-size: 18px; color: #333; margin-bottom: 10px;">Available Stock</h3>
        <p style="font-size: 24px; font-weight: bold; color: #2b7a78; margin-top: 10px;">@ViewBag.StockNumber</p>
    </div>
    <div style="background-color: #f4f7fa; border-radius: 10px; padding: 20px; width: 200px; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease, box-shadow 0.3s ease;">
        <h3 style="font-size: 18px; color: #333; margin-bottom: 10px;">Total Stock Assigned </h3>
        <p style="font-size: 24px; font-weight: bold; color: #2b7a78; margin-top: 10px;">@ViewBag.StockGiven</p>
    </div>
</div>


@if (ViewBag.Status == 2)
{

if (Model.FirstOrDefault() != null)
{
<table class="table">
    <thead>
        <tr>
            <th>Item</th>
                <th>Size Requested</th>

            <th>Stock Allocation</th>
        </tr>
    </thead>
    <tbody>



     
        @foreach (var orderItem in Model)
        {
            if (!orderItem.GearAssigned)
            {
                <tr>

                    <td>@orderItem.Items.Name</td>
                        <td>@orderItem.SizesReq</td>

                    <td>
                        
                        <form asp-action="a2">
                            <input type="hidden" value="@orderItem.OrderId" name="OrderId"/>
                            <label for="stock-@orderItem.ItemId">Select Item</label>
                            <select name="StockId" class="form-select" onchange="this.form.submit()">
                                <option value="" disabled selected>Select an option</option>
                                @foreach (var stock in ViewBag.Stock)
                                {
                                    if(orderItem.Items.CategoryId == 1)
                                    {
                                            string S = " ";

                                            if (orderItem.SizesReq.Contains("US"))
                                            {
                                                S = orderItem.SizesReq;
                                            }
                                            else
                                            {
                                                S = "US" + orderItem.SizesReq;
                                            }


                                    if (stock.ItemId == orderItem.ItemId && stock.ShoeSizes?.ToString() == S)
                                    {
                                        <option value="@stock.StockId">
                                                    @orderItem.Items.Name (@stock.StockNumber) | @orderItem.SizesReq

                                                </option>
                                            }
                                    }
                                        else
                                        {
                                            if (stock.ItemId == orderItem.ItemId && stock.ClothingSizes?.ToString() == orderItem.SizesReq)
                                            {
                                                <option value="@stock.StockId">
                                                    @orderItem.Items.Name (@stock.StockNumber) | @orderItem.SizesReq 

                                                </option>
                                            }

                                        }

                                }
                            </select>
                        </form>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}
    }
     else
       {

    <div class="alert alert-info text-center" Style="Margin-top: 5%;">
        <h2>Order Already Processed</h2>
        <p>To Unassign Items From User click here </p>
        <form asp-controller="Stocks" asp-action="Index">

            <input type="hidden" name="SearchTerm" value="@ViewBag.UserSID">
            <input type="submit" class="btn btn-primary" value="Go to Stock Page" />

        </form>
    </div>


       }

<table class="table" style="width: 100%;">
    <thead>
        <tr>
            <th colspan="100%" style="background-color: #d1e7dd; width: 100%;">
                <strong>Allocated Stock:</strong>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var userStock in ViewBag.UserStock)
        {
            <tr>
                <td>
                    @userStock.Items.Name -  @userStock.StockNumber
                </td>
                
                    @if(userStock.Items.CategoryId == 1)
                    {
                        <td>
                        @userStock.ShoeSizes
                        </td>
                    }
                    else
                    {
                        <td>
                        @userStock.ClothingSizes
                        </td>
                    }

                
                <td>
          

                    <form asp-action="UA">
                        @if (Model != null && Model.Any())
                        {
                            <input type="hidden" value="@Model.First().OrderId" name="OrderId" />
                        }

                        else
                        {

                            <input type="hidden" value="@ViewBag.OrderId" name="OrderId" />
                        }

                     

                        <input type="hidden" value="@userStock.StockId" name="StockId" />
                        @if(ViewBag.Status == 2)
                        {
                            <input type="submit" value="Unassign" class="btn btn-warning" style="background-color: indianred; color: white;"/>
                        }
                        else{
                            <input value="Unassign" disabled type="submit" class="btn btn-warning" style="background-color: indianred; opacity: 50%; color: white;" lo/>


                            
                            }
                        </form>
                </td>
            </tr>
        }
    </tbody>
</table>

                    <form asp-action="Confirm">
                        @if (Model != null && Model.Any())
                        {

                            <input type="hidden" value="@Model.First().OrderId" name="OrderId" />
                        }

                        else
                        {

                            <input type="hidden" value="@ViewBag.OrderId" name="OrderId" />
                        }

    @if (Model == null || !Model.Any())
    {
        if (ViewBag.Status == 4 || ViewBag.Status == 3)
            {
            <input type="submit" disabled value="Confirm and Print" class="btn btn-primary" style="background-color: dodgerblue; opacity: 50%;" />

            }
            else
            {
            <input type="submit" value="Confirm" class="btn btn-primary" style="background-color: dodgerblue" />

            }
    }

                        </form>