@model IEnumerable<WebApplication4.Models.Item>
@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Price)</th>
            <th>Sizes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>$@item.Price</td>
                <td>
                    @if (item.CategoryId == 1)
                    {
                       

                        <select class="form-select">
                            @foreach (var size in sizes)
                            {
                                <option value="@size">@size</option>
                            }
                        </select>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
